h1{
    color:black ;
    font-family:Arial, Helvetica, sans-serif ;
    background:black ;
    }
    p{
        color:red ;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
        font: size 30px; ;
        background:white ;
        }